/* HTML elements */
html, body {
	background: #fff;
	color: #282827;
	
	padding: 0;
	margin: 0;

	width: 100vw;
	height: 100vh;

	font-family: "Barlow", sans-serif;
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

	overflow-x: hidden;
	overscroll-behavior-x: none;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}
main.body {
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	padding: 1.5rem;

	display: flex;
	flex-direction: column;
}
nav.navbar {
	height: 32.5px;
	width: 100%;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	box-sizing: border-box;
	padding: 0.5rem;
}nav.navbar > .logo-top {
	height: 100%;
	user-select: none;
	pointer-events: none;

	opacity: 0.2;
}

/* Hide scrollbars, they're ugly */
* {
	-ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    scrollbar-width: none !important; /* Firefox */
}*::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}

/* Classes */
.column {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100vh;
}

/* Projects */
.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(11rem, 1fr));
	gap: 1rem;

	width: 100%;
	height: 100%;
}.project-list > .project-button {
	width: 100%;
	height: 100%; 
	position: relative;

	background: #f5f5f5;
	border: 0.1rem #e5e5e5 solid;
	border-radius: 0.5rem;

	transition: border 0.05s ease-in-out;
	cursor: pointer;
	display: flex;
	flex-direction: column;

	box-sizing: border-box;
	padding: 0.5rem 1rem;

}.project-list > .project-button > .header {
	width: 100%;
	height: min-content;

	display: flex;
	flex-direction: row;
	align-items: center;
}.project-list > .project-button > .header > h2.title {
	font-size: 1.75rem;
	font-weight: 600;
	color: #282827;

	margin: 0;
	padding: 0;

	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}.project-list > .project-button > .header > button.menu {
	border: none;
	outline: none;

	background: url(/icons/items.svg);
	background-size: cover;
	height: 1.6rem;
	width: 1.6rem;

	aspect-ratio: 1;
	margin-left: 1rem;

	opacity: 0.15;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}.project-list > .project-button > .header > button.menu:hover {
	opacity: 0.35;
}.project-list > .project-button:hover {
	border: 0.1rem #d9d9d9 solid;
}.project-list > .project-button > .body {
	width: 100%;
	height: 100%;
}.project-list > .project-button > footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 2rem;
}.project-list > .project-button > footer > p {
	background: #ececec;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
}.project-list > .project-button > footer > p:hover {
	background: #e1e1e1;
}

/* Editor */
.editor {
	width: 100vw;
	height: 100vh;

	overflow: scroll;
	overscroll-behavior-x: none;

	box-sizing: border-box;
	padding: 2rem 1rem;
}.editor-item {
	position: relative;
	width: 100%;

	display: flex;
	flex-direction: row;

	user-select: none;
}.editor-item > .sidebar {
	height: auto;
	width: 3rem;

	display: flex;
	justify-content: center;
		align-items: center;

	box-sizing: border-box;

	/* background: goldenrod; */
}.editor-item > .sidebar > .rearrange-button {
	width: 1.5rem;
	height: 1.5rem;

	background: url(/icons/dragger.svg);
	cursor: grab;
	opacity: 0.2;
}.editor-item > .width {
	width: 100%;
}.editor-item > .body {
	position: relative;
	
	width: 100%;
	height: 100%;
	user-select: none;
	/* background: lavenderblush; */
}.editor-item.top-dropline {
	border-top: 0.2rem solid #5c7fd8;
}.editor-item.bottom-dropline {
	border-bottom: 0.2rem solid #5c7fd8;
}.editor-item.dragging {
	filter: blur(4px);
	opacity: 0.5;
	z-index: 4;
}.noselect {
	pointer-events: none;
}

/* Editor items */
.item-textarea {
	position: relative;
	width: 100% !important;
	height: min-content;

	font-size: 1.25rem;
	border: none;
	outline: none;
	background: none;
	resize: none;

	box-sizing: border-box;
	padding: 0.5rem;
	margin: 0;

	font-family: "Barlow", sans-serif;
	overflow: hidden;
	color: #282827;
}
.item-header1, .item-header2, .item-header3 {
	font-family: "Barlow", sans-serif;

	border: none;
	outline: none;
	background: none;
	resize: none;
	box-sizing: border-box;

	padding-left: 0.5rem;
	width: 100%;
	height: 100%;
	color: #282827;
}.item-header1 {
	font-size: 3rem;
	font-weight: 800;
}.item-header2 {
	font-size: 2.5rem;
	font-weight: 800;
}.item-header3 {
	font-size: 1.75rem;
	font-weight: 600;
}

/* Snippet add button */
.snippet-add-button {
	width: 5rem;
	height: 5rem;

	background: #fff;
	position: fixed;

	right: 1rem;
	bottom: 1rem;

	outline: none;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;

	transition: background 0.05s ease-in-out;
	display: flex;
	justify-content: center;
		align-items: center;
}.snippet-add-button > .icon {
	width: 100%;
	height: 100%;

	background: url(/icons/plus.svg);
	user-select: none;
	pointer-events: none;

	opacity: 0.4;
}

/* Create project button */
.create-project-btn {
	width: 100%;
	height: 100%; 
	position: relative;

	background: #f5f5f5;
	border: 0.1rem #e5e5e5 solid;
	border-radius: 0.5rem;

	transition: border 0.05s ease-in-out;
	cursor: pointer;
	display: flex;
	justify-content: center;
		align-items: center;	

	box-sizing: border-box;
	padding: 0.5rem 1rem;
}.create-project-btn > img {
	width: 4rem;
	height: 4rem;
}

/* Popup menu for selecting editor content */
.popup-menu {
	width: 12rem;
	height: min-content;
	border: 0.1rem solid #e5e5e5;
	border-radius: 0.5rem;

	position: absolute;
	right: 1rem;
	bottom: 7rem;

	transform: rotate(0deg);
	transform-origin: bottom right;
	overflow: hidden;
}.popup-menu .item {
	height: 3rem;
	width: 100%;

	box-sizing: border-box;
	padding: 0.5rem;

	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;

	cursor: pointer;
	background: #fff;
}.popup-menu .item:hover {
	background: #f5f5f5;
}.popup-menu .item > .icon {
	height: 100%;
	opacity: 0.2;
}.popup-menu .item > .label {
	color: #282827;
}.popup-menu .hr {
	width: calc(100% - 1.5rem);
	height: 0.1rem;
	background: #f5f5f5;

	margin: 0 0.75rem;
}

/* Lists */
.list-container {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}.list-container > .list-row {
	width: 100%;
	min-height: 3rem;

	display: flex;
	flex-direction: row;
	position: relative;
}.list-container> .list-row > .list-sidebar {
	height: auto;
	width: 2rem;
	font-size: 2rem;

	display: flex;
	justify-content: center;
		align-items: center;
}.list-container > .list-row > .list-body {
	width: 100%;
	height: auto;

	box-sizing: border-box;
	padding: 0 0.25rem;

	display: flex;
	align-items: center;
	user-select: inherit !important;
}

/* Title bar */
.title-bar {
	box-sizing: border-box;
	padding-bottom: 1rem;
}.title-bar > h1 {
	font-weight: 800;
	font-size: 3rem;
	color: #282827;

	margin: 0;
	padding: 0;
}

/* Delete blob */
.delete-blob-container {
	position: fixed;

	width: 100%;
	height: 4rem;
	top: 100vh;

	transform: translateY(-0rem);
	opacity: 0;
	user-select: none;
	pointer-events: none;

	transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}.delete-blob-container > .delete-blob {
	background: url(/delete-blob.svg);

	position: absolute;
	width: 300%;
	aspect-ratio: 1;
	background-size: cover;

	animation: rotate-delete-blob 5s linear infinite;
	left: 50%;
}.delete-blob-container > p {
	font-size: 2rem;
	font-weight: 200;
	bottom: 10rem;

	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 4rem;
	left: 50%;
	transform: translateX(-50%);
	color: #282827;
}.delete-blob-intro {
	transform: translateY(-6rem);
	opacity: 1;
}

/* Bottom bush */
.bottom-bush {
	position: absolute;
	width: 100%;
	height: 15rem;

	background: url(/bush.svg);
	background-size: cover;
	background-position: center center;

	left: 0;
	bottom: -2rem;
}

/* Keyframes */
@keyframes fade-out-border {
	to { border-color: #00000000; border-width: 0; }
}
@keyframes rotate-delete-blob {
	from {transform: translateX(-50%) rotate(0deg);}
	to {  transform: translateX(-50%) rotate(360deg);}
}
